<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace为接口的包名 -->
<mapper namespace="cn.puhy.mybatisplus.mapper.UserMapper">


    <resultMap type="cn.puhy.mybatisplus.bean.User" id="user">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="address" column="address"/>
        <result property="phone" column="phone"/>
    </resultMap>

    <select id="queryById" resultMap="user">
		select * from springboot_user where id = #{id}
	</select>
</mapper>